.App {
  text-align: center;
}

.Sample{
  border: rgba(249, 171, 68, 0.993);
  text-align: center;
  height: 55px;
  width: 1200px;
  margin-left: 30px;
  margin-right: 100px;
  border-radius: 5px;
  margin-top: 50px;
  padding-top: 25px;
  background-color: rgb(218, 116, 136);
  color: white;
  font-weight: bold;
  font-size: larger;
}
Link{
  border: teal;
  height: 55px;
  width: 300px;
}
.Sample2{
  border: rgba(78, 246, 182, 0.993);
  text-align: center;
  height: 25px;
  width: 450px;
  border-radius: 5px;
  margin-top: 30px;
  padding-top: 1px;
  padding-bottom: 38px;
  margin-left: 450px;
  background-color: rgb(80, 199, 124);
  color: rgb(3,3,3);
  font-weight: normal;
  font-size: larger;
}
.Sample3{
  border: rgba(79, 245, 181, 0.993);
  text-align: center;
  height: 25px;
  width: 450px;
  border-radius: 5px;
  margin-top: 30px;
  padding-top: 1px;
  padding-bottom: 38px;
  margin-left: 450px;
  background-color: rgb(70, 202, 118);
  color: rgb(3,3,3);
  font-weight: normal;
  font-size: larger;
}
.Container{
  text-align: center;
  margin-left: 50px;
  margin-top: 100px;
  padding: 1px;
}
.s1{
  margin-left: 60px;
  background-color: rgb(250, 140, 100);
  margin-right: 200px;
  color: blueviolet;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}